<div class="background-layer"></div>
<div class="full-page-container">
  <div class="login-container">
    <div class="logo-container">
      <img src="/assets/images/Logo.png" alt="Logo" class="logo" />
    </div>

    <h1>Portal Financeiro</h1>
    <p class="subtitle">Acesse e gerencie a sua loja de forma rápida</p>

    <form>
      <div class="form-group">
        <div class="input-icon">
          <i class="fa fa-user"></i>
          <input type="email" id="email" placeholder="Digite seu email" />
        </div>
      </div>
      <div class="form-group">
        <div class="input-icon">
          <i class="fa fa-key"></i>
          <input type="password" id="password" placeholder="Digite sua senha" />
        </div>
      </div>
      <button type="submit">Login</button>
      <div class="forgot-password">
        <a href="#">Esqueceu a senha?</a>
      </div>
      <div class="register-now">
        <p>Ainda não tem uma conta? <a href="#" (click)="openRegisterModal(); $event.preventDefault();">Registre-se agora</a></p>
      </div>
    </form>
  </div>
</div>

<!-- Popup de sucesso -->
<div *ngIf="isSuccessPopupVisible" class="success-popup">
  Acessos criados com sucesso!
</div>

<!-- Modal de Cadastro -->
<div class="modal" [ngClass]="{'show': isModalVisible}" id="registerModal">
  <div class="modal-content">
    <span class="close" (click)="closeRegisterModal()">&times;</span>
    <h2>Registrar</h2>
    <form (submit)="onRegisterSubmit($event)">
      <div class="input-group">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Nome de Usuário">
      </div>
      <div class="input-group">
        <i class="fas fa-envelope"></i>
        <input type="email" placeholder="Email">
      </div>
      <div class="input-group">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Senha">
      </div>
      <button type="submit">Registrar</button>
    </form>
  </div>
</div>

<footer>
  <p>&copy; {{ currentYear }} GRUPO ALVIM - ALVIM PARTICIPAÇÕES E INVESTIMENTOS S/A</p>
</footer>
